@font-face {
  font-family: "Merriweather Sans";
  src: url("../font/Merriweather Sans.eot");
  src: url("../font/Merriweather Sans.eot?iefix") format("eot"), url("../font/Merriweather Sans.ttf") format("truetype"), url("../font/Merriweather Sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../font/Lora.eot");
  src: url("../font/Lora.eot?iefix") format("eot"), url("../font/Lora.ttf") format("truetype"), url("../font/Lora.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot");
  src: url("../font/icomoon.eot?iefix") format("eot"), url("../font/icomoon.ttf") format("truetype"), url("../font/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AdobeBlank";
  src: url("../font/AdobeBlank.eot");
  src: url("../font/AdobeBlank.eot?iefix") format("eot"), url("../font/AdobeBlank.ttf") format("truetype"), url("../font/AdobeBlank.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 48, ../sass/_mixins.scss */
[data-icon]:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 63, ../sass/_mixins.scss */
[data-icon]:before {
  font-family: 'icomoon';
}

/* line 73, ../sass/_mixins.scss */
h3, button, .action-btn {
  font-family: "Merriweather Sans", Arial, Helvetica, sans-serif, sans-serif;
  font-weight: 400;
}

/* line 83, ../sass/_mixins.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* ------------------------
   Normalize, inspired by http://bit.ly/p8QWOM and http://bit.ly/jOrWmU
   ------------------------ */
/* line 5, ../sass/_normalize.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_normalize.scss */
fieldset, form, legend, details, figure, figcaption, menu, input[type=radio], input[type=checkbox], blockquote p, nav ul, nav ol {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/_normalize.scss */
img, hr, fieldset, legend {
  border: 0;
}

/* line 11, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

/* line 13, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 13, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 15, ../sass/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 27, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 29, ../sass/_normalize.scss */
body, button, input, select, textarea {
  font-family: "Merriweather Sans", Arial, Helvetica, sans-serif, sans-serif;
  font-weight: 300;
  color: #333;
}

/* line 35, ../sass/_normalize.scss */
h1, h2, h4, h5, h6 {
  line-height: 1;
  color: #111;
  font-family: "Lora", Garamond, "Times New Roman", serif;
  font-weight: normal;
}

/* line 42, ../sass/_normalize.scss */
::-moz-selection {
  background: #ffa900;
  color: #fff;
  text-shadow: none;
}

/* line 42, ../sass/_normalize.scss */
::-moz-selection {
  background: #ffa900;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ffa900;
  color: #fff;
  text-shadow: none;
}

/* line 44, ../sass/_normalize.scss */
a {
  color: black;
  -webkit-transition: all .3s;
          transition: all .3s;
  text-decoration: none;
}

/* line 44, ../sass/_normalize.scss */
a:visited {
  color: #1a1a1a;
}

/* line 44, ../sass/_normalize.scss */
a:hover {
  color: black;
}

/* line 44, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 44, ../sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 46, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 46, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 46, ../sass/_normalize.scss */
ins {
  text-decoration: none;
}

/* line 48, ../sass/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 50, ../sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border: 0;
  max-width: 100%;
}

/* line 52, ../sass/_normalize.scss */
svg {
  max-width: 100%;
}

/* line 54, ../sass/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

/* line 56, ../sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: "Courier New", monospace;
  font-size: 1em;
}

/* line 56, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 58, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 60, ../sass/_normalize.scss */
small {
  font-size: 85%;
}

/* line 62, ../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 62, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 62, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 64, ../sass/_normalize.scss */
mark {
  background: transparent;
  font-style: normal;
}

/* line 66, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 66, ../sass/_normalize.scss */
td {
  vertical-align: top;
}

/* line 68, ../sass/_normalize.scss */
nav ul {
  list-style: none;
}

/* line 70, ../sass/_normalize.scss */
ul, ol {
  padding: 0;
}

/* line 72, ../sass/_normalize.scss */
form * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74, ../sass/_normalize.scss */
legend {
  border: 0;
}

/* line 76, ../sass/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: normal;
  margin: 0;
}

/* line 78, ../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  width: auto;
  overflow: visible;
  margin: 0;
  font-family: inherit;
}

/* line 80, ../sass/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 82, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 84, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  vertical-align: -2px;
}

/* line 86, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 86, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 88, ../sass/_normalize.scss */
isindex::-webkit-input-placeholder, ::-webkit-input-placeholder {
  color: #6d6d6d;
}

/* line 88, ../sass/_normalize.scss */
::-moz-placeholder, ::-ms-input-placeholder {
  color: #6d6d6d;
}

/* line 90, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, ../sass/_main.scss */
body {
  background: #fff;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Users/christiankrammer/.rvm/gems/ruby-2.1.2@global/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 6, ../sass/_main.scss */
h2 {
  font-size: 1.3125em;
}
@media all and (min-width: 30em) {
  /* line 6, ../sass/_main.scss */
  h2 {
    font-size: 2.25em;
  }
}

@media all and (min-width: 30em) {
  /* line 14, ../sass/_main.scss */
  h3 {
    font-size: 1.3125em;
  }
}

/* line 22, ../sass/_main.scss */
p {
  line-height: 1.5;
}

/* line 26, ../sass/_main.scss */
button, .action-btn {
  background: #ffa900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.125em;
  line-height: 2em;
}
/* line 37, ../sass/_main.scss */
button:hover, button:focus, .action-btn:hover, .action-btn:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

/* line 43, ../sass/_main.scss */
.hidden {
  position: absolute;
  left: -9999px;
}

/* line 47, ../sass/_main.scss */
.container {
  padding: 4em 3% 5em;
}
@media all and (min-width: 30em) {
  /* line 47, ../sass/_main.scss */
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media all and (min-width: 95em) {
  /* line 47, ../sass/_main.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 60, ../sass/_main.scss */
.container h2 {
  color: #3085ff;
  margin-top: 0;
}

/* line 66, ../sass/_main.scss */
.mainheader {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.08);
  padding-bottom: .8em;
}

/* line 74, ../sass/_main.scss */
.mainheader__logo {
  margin: .9em 0 .7em;
}
@media all and (min-width: 30em) {
  /* line 74, ../sass/_main.scss */
  .mainheader__logo {
    width: 23.80952%;
    float: left;
    margin-right: 1.5873%;
    text-align: left;
  }
}

/* line 82, ../sass/_main.scss */
.mainheader__mainnav {
  font-size: 1.125em;
  margin-top: .3em;
}
@media all and (min-width: 30em) {
  /* line 82, ../sass/_main.scss */
  .mainheader__mainnav {
    text-align: right;
    width: 74.60317%;
    float: right;
    margin-right: 0;
  }
}

/* line 92, ../sass/_main.scss */
.mainnav__item {
  display: inline-block;
  margin: 0 .3em;
  vertical-align: middle;
}
/* line 97, ../sass/_main.scss */
.mainnav__item a {
  display: inline-block;
  position: relative;
}
/* line 101, ../sass/_main.scss */
.mainnav__item a:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  background: black;
  width: 0;
  -webkit-transition: width .3s;
          transition: width .3s;
}
/* line 113, ../sass/_main.scss */
.mainnav__item a:hover:before, .mainnav__item a:focus:before {
  width: 100%;
}
/* line 117, ../sass/_main.scss */
.no-transform .mainnav__item a:hover, .no-transform .mainnav__item a:focus {
  text-decoration: underline;
}

/* line 124, ../sass/_main.scss */
.mainnav__item__special {
  background: #ffa900;
  margin: .2em 0;
}
/* line 128, ../sass/_main.scss */
.mainnav__item__special a {
  color: white;
  padding: .2em .5em;
}
/* line 132, ../sass/_main.scss */
.mainnav__item__special a:before {
  top: 94%;
  background: #996500;
}

/* line 139, ../sass/_main.scss */
.mainarea {
  margin-top: 8.6em;
}
@media all and (min-width: 30em) {
  /* line 139, ../sass/_main.scss */
  .mainarea {
    margin-top: 6em;
  }
}

/* line 147, ../sass/_main.scss */
.hero {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-bottom: 3em;
}

/* line 153, ../sass/_main.scss */
.hero__main {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0;
}
@media all and (min-width: 46em) {
  /* line 153, ../sass/_main.scss */
  .hero__main {
    font-size: 3.75em;
  }
}

/* line 163, ../sass/_main.scss */
.hero__tagline {
  font-size: 1.125em;
  margin-top: .8em;
  padding-top: 1.3em;
  position: relative;
}
/* line 169, ../sass/_main.scss */
.hero__tagline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  width: 74%;
  margin-left: 13%;
  background: #3085ff;
}

/* line 182, ../sass/_main.scss */
.hero__action {
  display: block;
  line-height: 3em;
  margin-top: .7em;
  margin-bottom: 5em;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 189, ../sass/_main.scss */
.hero__action:visited {
  color: white;
}
@media all and (min-width: 30em) {
  /* line 182, ../sass/_main.scss */
  .hero__action {
    width: 36.50794%;
    float: left;
    margin-left: 31.74603%;
  }
}
@media all and (min-width: 46em) {
  /* line 182, ../sass/_main.scss */
  .hero__action {
    width: 23.80952%;
    float: left;
    margin-left: 38.09524%;
  }
}

/* line 204, ../sass/_main.scss */
.hero__screenshot {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

/* line 209, ../sass/_main.scss */
.features {
  clear: both;
  background: #E6E6E6;
  background-image: -webkit-radial-gradient(50% 175%, rgba(255, 255, 255, 0.61) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(50% 175%, rgba(255, 255, 255, 0.61) 50%, rgba(255, 255, 255, 0) 100%);
  padding-top: 2.8em;
  padding-bottom: 1.4em;
}

/* line 217, ../sass/_main.scss */
.features__list {
  list-style: none;
  text-align: center;
  margin: 0;
}

/* line 223, ../sass/_main.scss */
.features__item {
  display: inline-block;
  vertical-align: top;
}
@media all and (min-width: 46em) {
  /* line 223, ../sass/_main.scss */
  .features__item {
    width: 30%;
  }
}

/* line 232, ../sass/_main.scss */
.features__img {
  display: inline-block;
  max-width: 3em;
  height: 3em;
  margin-right: .4em;
  vertical-align: middle;
}
@media all and (min-width: 46em) {
  /* line 232, ../sass/_main.scss */
  .features__img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

/* line 246, ../sass/_main.scss */
.features__title {
  color: #3085ff;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

/* line 253, ../sass/_main.scss */
.features__text {
  margin: .4em 0 1.9em;
  max-width: 20em;
}

/* line 258, ../sass/_main.scss */
.works__features {
  color: #3085ff;
  list-style: none;
  margin-top: 0;
}

/* line 265, ../sass/_main.scss */
.works__item {
  margin-top: 1.6em;
  position: relative;
}
/* line 270, ../sass/_main.scss */
.works__item:before {
  display: inline-block;
}

/* line 280, ../sass/_main.scss */
.ws-po-box {
  background: red;
  border-color: red;
  color: #fff;
}

/* line 286, ../sass/_main.scss */
.ws-po-arrow {
  border-bottom-color: red;
}
/* line 289, ../sass/_main.scss */
.ws-po-arrow .ws-po-arrowbox {
  border-bottom-color: inherit;
}

/* line 295, ../sass/_main.scss */
.user-error {
  border: 1px solid red;
}

/* line 299, ../sass/_main.scss */
.user-success {
  border: 1px solid green;
}

@print {
  /* line 2, ../sass/_print.scss */
  header *, footer, aside, nav {
    display: none;
  }

  /* line 4, ../sass/_print.scss */
  article img {
    display: block;
    max-width: 500px;
    height: auto;
  }

  /* line 10, ../sass/_print.scss */
  q {
    quotes: none;
  }

  /* line 10, ../sass/_print.scss */
  q:before, q:after {
    content: "";
  }

  /* line 12, ../sass/_print.scss */
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff;
    color: #000;
  }

  /* line 19, ../sass/_print.scss */
  a {
    color: #000;
  }

  /* line 23, ../sass/_print.scss */
  h1, h2, h3, h4 {
    line-height: 1;
  }

  /* line 25, ../sass/_print.scss */
  h1 {
    font-size: 24pt;
  }

  /* line 27, ../sass/_print.scss */
  h2 {
    font-size: 20pt;
  }

  /* line 29, ../sass/_print.scss */
  h3 {
    font-size: 16pt;
  }

  /* line 31, ../sass/_print.scss */
  h4 {
    font-size: 14pt;
  }

  /* line 33, ../sass/_print.scss */
  ul {
    padding: 0;
  }

  /* line 37, ../sass/_print.scss */
  img {
    margin: 5px;
  }

  /* line 41, ../sass/_print.scss */
  blockquote {
    font-size: 14pt;
    font-style: italic;
  }

  /* line 46, ../sass/_print.scss */
  header h1 {
    display: block;
    font-size: 30pt;
    margin: 0;
  }

  /* line 52, ../sass/_print.scss */
  header:after {
    font-style: italic;
    content: "The site title";
    font-size: 10pt;
  }
}
