// susy: comment in if needed (see http://susydocs.oddbird.net/en/latest/settings)
$susy: (
	columns: 16,
	gutters: 1/3,
	math: fluid,
	output: float,
	gutter-position: after,
	container-position: left
);

// fonts
$fallbackfont-main: Arial, Helvetica, sans-serif, sans-serif;
$fallbackfont-title: Garamond, "Times New Roman", serif;
$titlefont: 'Lora', $fallbackfont-title;
$mainfont: 'Merriweather Sans', $fallbackfont-main;

// sizes
// $base-size: 10px;

// typographic scale
$scale7: 4.5em; // 72
$scale6: 3.75em; // 60
$scale5: 3em; // 48
$scale45: 2.625em; // 48
$scale4: 2.25em; // 36
$scale3: 1.5em; // 24
$scale2: 1.3125em; // 21
$scale1: 1.125em; // 18
$scale0: 1rem; // 16
$scale-1: 0.875em; // 14
$scale-2: 0.75em; // 12
$scale-3: 0.6875em; // 11
$scale-4: 0.625em; // 10

// media query breakpoints
$break-small: 30em; // 480px
$break-medium: 46em; // 736px
$break-large: 60em; // 960px
$break-xlarge: 90em; // 1440px
$break-last: 100em; // 1600px

// colors
$black: #000;
$white: #fff;
$orange: #FFA900;
$blue: #3085FF;

// spacing/dimensions
$page-maxwidth: 1280px;
$input-height: 3.1rem;
$mainheader-height: 5em;
$container-lrpadding1: 3%;
$container-lrpadding2: 2%;